 /* FONTS */

 @font-face {
     font-family: CircularSp;
     src: url("https://encore.scdn.co/fonts/CircularSp-Book-4eaffdf96f4c6f984686e93d5d9cb325.woff2") format("woff2"), url("https://encore.scdn.co/fonts/CircularSp-Book-4f217aebee53ffc72f4444f79041ffa5.woff") format("woff");
     font-weight: 400;
     font-display: swap;
     unicode-range: U+0, U+D, U+20-7E, U+A0-17E, U+18F, U+192, U+1A0-1A1, U+1AF-1B0, U+1B5-1B6, U+1C4-1C6, U+1F1-1F3, U+1FA-1FF, U+218-21B, U+237, U+259, U+2BB-2BC, U+2C6-2C7, U+2C9, U+2D8-2DD, U+300-301, U+303, U+309, U+323, U+394, U+3A9, U+3BC, U+3C0, U+1E80-1E85, U+1E8A-1E8B, U+1EA0-1EF9, U+1FD6, U+2007-2008, U+200B, U+2010-2011, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2042, U+2044, U+2051, U+2070, U+2074-2079, U+2080-2089, U+20AB-20AC, U+2113, U+2117, U+2122, U+2126, U+2160-2169, U+216C-216F, U+2190-2193, U+2196-2199, U+21A9, U+21B0-21B5, U+21C6, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+22C5, U+24C5, U+25A0-25A1, U+25AF, U+25B2-25B3, U+25CA-25CB, U+25CF, U+262E, U+2713, U+2715, U+2780-2788, U+E000, U+E002, U+F6C3, U+FB00-FB04, U+FEFF, U+FF0C, U+FF0E, U+FF1A-FF1B, U+FFFF;
 }

 @font-face {
     font-family: CircularSp;
     src: url("https://encore.scdn.co/fonts/CircularSp-Bold-fe1cfc14b7498b187c78fa72fb72d148.woff2") format("woff2"), url("https://encore.scdn.co/fonts/CircularSp-Bold-79ebb2bdea919cebedea4884d08c499e.woff") format("woff");
     font-weight: 700;
     font-display: swap;
     unicode-range: U+0, U+D, U+20-7E, U+A0-17E, U+18F, U+192, U+1A0-1A1, U+1AF-1B0, U+1B5-1B6, U+1C4-1C6, U+1F1-1F3, U+1FA-1FF, U+218-21B, U+237, U+259, U+2BB-2BC, U+2C6-2C7, U+2C9, U+2D8-2DD, U+300-301, U+303, U+309, U+323, U+394, U+3A9, U+3BC, U+3C0, U+1E80-1E85, U+1E8A-1E8B, U+1EA0-1EF9, U+1FD6, U+2007-2008, U+200B, U+2010-2011, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2042, U+2044, U+2051, U+2070, U+2074-2079, U+2080-2089, U+20AB-20AC, U+2113, U+2117, U+2122, U+2126, U+2160-2169, U+216C-216F, U+2190-2193, U+2196-2199, U+21A9, U+21B0-21B5, U+21C6, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+22C5, U+24C5, U+25A0-25A1, U+25AF, U+25B2-25B3, U+25CA-25CB, U+25CF, U+262E, U+2713, U+2715, U+2780-2788, U+E000, U+E002, U+F6C3, U+FB00-FB04, U+FEFF, U+FF0C, U+FF0E, U+FF1A-FF1B, U+FFFF;
 }

 @font-face {
     font-family: CircularSpTitle;
     src: url("https://encore.scdn.co/fonts/CircularSpTitle-Bold-2fbf72b606d7f0b0f771ea4956a8b4d6.woff2") format("woff2"), url("https://encore.scdn.co/fonts/CircularSpTitle-Bold-7cd3208b73fd0850bca5d8f7821439cd.woff") format("woff");
     font-weight: 700;
     font-display: swap;
     unicode-range: U+0, U+20-7E, U+A0-BF, U+C6-C7, U+D0, U+D7, U+DE-E4, U+E6-EF, U+F1-FF, U+101, U+103-105, U+107, U+109, U+10B, U+10D, U+10F-111, U+113, U+115, U+117-119, U+11B, U+11D, U+11F, U+121, U+126-127, U+129, U+12B, U+12D-12F, U+131-133, U+135, U+138, U+13E-142, U+144, U+148, U+14A-14B, U+14D, U+14F, U+151-153, U+155, U+159, U+15B, U+15D-15F, U+161-163, U+166-167, U+169, U+16B, U+16D, U+171-173, U+175, U+177, U+17A, U+17C, U+17E, U+18F, U+192, U+1A1, U+1B0, U+1B5-1B6, U+1C5-1C6, U+1F1-1F3, U+1FD, U+1FF, U+237, U+259, U+2C6-2C7, U+2C9, U+2D8-2D9, U+2DB-2DD, U+394, U+3A9, U+3BC, U+3C0, U+1E81, U+1E83, U+1E85, U+1E8B, U+1EA0-1EA1, U+1EAD, U+1EB7-1EB9, U+1EBD, U+1EC7, U+1ECA-1ECD, U+1ED9, U+1EDB, U+1EDD, U+1EE3-1EE5, U+1EE9, U+1EEB, U+1EF1, U+1EF3-1EF5, U+1EF9, U+1FD6, U+2007-2008, U+200B, U+2010-2011, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2042, U+2044, U+2051, U+2070, U+2074-2079, U+2080-2089, U+20AB-20AC, U+2113, U+2117, U+2122, U+2126, U+2160-2169, U+216C-216F, U+2190-2193, U+2196-2199, U+21A9, U+21B0-21B5, U+21C6, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+2219, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+22C5, U+24C5, U+25A0-25A1, U+25AF, U+25B2-25B3, U+25CA-25CB, U+25CF, U+262E, U+2713, U+2715, U+2780-2788, U+E000, U+E002, U+FB00-FB04, U+FEFF, U+FF0C, U+FF0E, U+FF1A-FF1B, U+FFFF;
 }

 /* VARIABLE */

 :root {
     --bg-main: #080B12;
     --bg-aside: #000000;
     --bg-player: #282828;
     --dark-grey: #5A5A5A;
     --light-grey: #C1C1C1;
     --white: #FFFFFF;
     --white-50: rgba(255, 255, 255, 0.5);
     --yellow: #ADFF2F;


 }

 /* RESET CSS */

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 ul,
 ol,
 menu {
     list-style: none;
 }

 img {
     max-width: 100%;
 }

 figure img {
     display: block;
 }

 a {
     text-decoration: none;
     color: currentColor;
 }

 /* BASIC STYLE */

 body {
     overflow: hidden;
     height: 100vh;
     display: flex;
     flex-direction: column;
     font-family: 'CircularSp', sans-serif;
 }

 .wrapper {
     overflow: hidden;
     flex-grow: 1;
     display: flex;
 }

 aside {
     flex: 0 0 50px;
     background-color: var(--bg-aside);
     color: var(--white);
 }

 main {
    position: relative;
     overflow: hidden;
     flex-grow: 1;
     background-color: var(--bg-main);
 }

 .upgrade-bar {
     z-index: 10;
     padding: 20px 20px 30px;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     text-align: right;
 }

 .main-content {
     padding: 110px 24px 24px;
     overflow: auto;
     color: var(--white);
     height: 100%;
 }



 .player-bar {
     position: relative;
     z-index: 1;
     overflow: hidden;
     background-color: var(--bg-player);
     color: var(--white);
     padding: 12px 10px;
     display: flex;
     flex-shrink: 0;
     align-items: center;
     justify-content: space-between;
 }

 /* PLAYER BAR */

 /* ALBUM INFO */

 .album-section {
     display: flex;
     align-items: center;
     gap: 8px;
     flex-basis: 220px;
 }

 .album-cover {
     flex: 0 0 28px;
 }

 .album-title {
     font-family: 'CircularSpTitle', sans-serif;
     font-size: 14px;
     line-height: 0.95;
 }

 .album-info {
     flex-grow: 1;
 }

 .album-track {
     font-weight: 700;
     font-size: 12px;
     color: var(--white-50);
     line-height: 1;
     cursor: pointer;
 }

 .album-track:hover {
     color: var(--white);
     text-decoration: underline;
 }

 .icons {
     display: flex;
     flex-wrap: wrap;
     gap: 8px;
     cursor: pointer;
 }

 .icons i:hover {
     color: var(--white-50);
 }

 /* CONTROLLER */

 .controller {
     flex-basis: 40%;
 }

 .icons-list {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 20px;
     margin-bottom: 15px;
 }

 .big {
     font-size: 30px;
     padding-inline: 10px;
     line-height: 30px;
     cursor: pointer;
 }

 .big:hover {
     transform: scale(1.1);
 }

 /* TIMELINE */

 .timing {
     display: flex;
     align-items: center;
     gap: 8px;
 }

 .timing span {
     font-weight: 700;
     font-size: 10px;
 }

 .timing-bar {
     position: relative;
     flex-grow: 1;

     background-color: var(--dark-grey);
     border-radius: 999px;

 }

 .timing-now {
     position: relative;
     left: 0;
     top: 0;
     height: 100%;
     width: 20%;
     height: 4px;
     background-color: var(--light-grey);
     border-radius: 999px;
 }

 .dot {
     display: none;
     position: absolute;
     left: 20%;
     top: 50%;
     transform: translate(-50%, -50%);
     width: 10px;
     aspect-ratio: 1;
     border-radius: 50%;
     background-color: var(--white);
 }

 .timing-bar:hover .timing-now {
     background-color: var(--yellow);
 }

 .timing-bar:hover .dot {
     display: block;
 }

 /*  */

 .ext-controller-list {
     display: flex;
     align-items: center;
     gap: 8px;
     flex-basis: 220px;
 }

 .bar {
     flex-basis: 50%;
 }


 /* SIDEBAR */

 aside {
     padding: 5px 10px 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .logo {
     margin-bottom: 24px;
 }

 .logo-small {

     width: 30px;
 }

 .logo-big {
     display: none;
 }

 .side-menu {
     margin-bottom: 24px;
 }

 .side-menu-item {
     position: relative;
     display: flex;
     align-items: center;
     height: 35px;
     color: var(--white-50);
 }

 .side-menu-item.active,
 aside a:hover {
     color: var(--white);
 }

 .side-menu-item img,
 .side-menu-item:hover img {
     filter: invert(0.5);
 }

 .side-menu-item.active img,
 .side-menu-item:hover img {
     filter: invert(0);
 }

 .side-menu-item::before {
     visibility: hidden;
     position: absolute;
     content: '';
     top: 0;
     left: -20px;
     height: 100%;
     width: 3px;
     background-color: var(--yellow);

 }

 .side-menu-link {
     display: flex;
     align-items: center;
     gap: 5px;
 }

 .side-menu-item.active::before {
     visibility: visible;
 }

 .side-menu-item img {
     line-height: 35px;
     display: inline-block;
     width: 26px;
 }

 .description {
     display: none;
     font-weight: 700;
     font-size: 14px;
 }

 .playlist {
     display: none;
     color: var(--white-50);
 }

 .playlist-title {
     font-weight: 700;
     font-size: 14px;
     color: var(--white);
     text-transform: uppercase;
     margin-bottom: 10px;
 }

 .playlist-create {
     display: flex;
     align-items: center;
     gap: 10px;
     font-weight: 700;
     margin-bottom: 20px;
 }

 .playlist-create:hover .plus {
     background-color: var(--white);
 }

 .plus {
     width: 36px;
     aspect-ratio: 1;
     text-align: center;
     background-color: var(--light-grey);
     color: black;
 }

 .plus i {
     display: inline-block;
     font-size: 20px;
     line-height: 36px;
 }

 .my-playlist {
     display: flex;
     flex-direction: column;
     gap: 18px;
     font-size: 14px;
     font-weight: 400;
 }

 .user-group {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: auto;
     width: 100%;
 }

 .download {
     display: flex;
     align-items: center;
     gap: 8px;
     font-size: 14px;
     font-weight: 700;
     color: var(--white-50);

     padding-bottom: 8px;

 }

 .download img {
     width: 12px;
 }

 .user {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     gap: 8px;
     margin-top: 8px;
     width: 100%;
     font-size: 15px;
 }

 .user img {
     display: block;
     width: 30px;
     aspect-ratio: 1;
     object-fit: contain;
     background-color: var(--white-50);
     border-radius: 50%;
 }

 /* MAIN */

 /* UPGRADE BAR */



 .button {
     display: inline-block;
     background-color: transparent;
     color: var(--white);
     line-height: 40px;
     border: 1px solid var(--white);
     text-transform: uppercase;
     border-radius: 999px;
     font-size: 13px;
     font-weight: 700;
     padding: 0 40px;
 }

 .button:hover {
     transform: scale(1.05);
 }

 /* MAIN MENU */

 .main-menu-list {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 24px;
     flex-wrap: wrap;
     text-transform: uppercase;
     font-size: 14px;
     font-weight: 700;
     color: var(--white-50);
     line-height: 25px;
     margin-bottom: 35px;
 }

 .main-menu-link {
     display: inline-block;
     position: relative;
 }

 .main-menu-link:hover,
 .main-menu-link.active {
     color: var(--white);
 }

 .main-menu-link.active::after {
     position: absolute;
     content: '';
     bottom: 0;
     left: 50%;
     height: 2px;
     width: 30px;
     background-color: var(--yellow);
     transform: translateX(-50%);
 }

 /* MAIN PLAYLIST */

 .main-playlist {
     color: var(--white);
     margin-bottom: 40px;
 }

 .main-playlist-title {
     font-size: 26px;
     font-weight: 700;
     margin-bottom: 10px;
 }

 .main-playlist-subtitle {
     font-size: 12px;
     font-weight: 700;
     color: var(--white-50);
 }

 .mb-0 {
     margin-bottom: 0;
 }

 .row {
     display: flex;
     flex-wrap: wrap;
     row-gap: 10px;
 }

 .row.mb-30 {
     margin-bottom: 30px;
 }

 .col-title,
 .col-album {
     padding: 0 5px;
 }

 .col-album {
     flex-basis: 50%;
 }

 .col-title {
     flex-basis: 100%;
     /* margin-bottom: 30px; */
 }

 .album-image {
     position: relative;
     margin-bottom: 16px;
 }

 .album-image.circle {
     border-radius: 50%;
     overflow: hidden;
 }

 .album-image-hover {
     display: none;
     position: absolute;
     inset: 0;
     align-items: center;
     justify-content: center;
     background-color: rgba(0, 0, 0, 0.5);
     font-size: 60px;
 }

 .album-image:hover .album-image-hover {
     display: flex;
 }

 .album-description {
     text-align: center;
 }

 .album-title {
     font-size: 16px;
     font-weight: 700;
     margin-bottom: 8px;
 }

 .album-subtitle {
     font-size: 12px;
     font-weight: 700;
     color: var(--white-50);
 }



 /* MEDIA QUERIES */

 @media (min-width: 630px) {

     .album-cover {
         flex-basis: 38px;
     }

     .ext-controller-list {
         gap: 12px;
     }

     /* SIDEBAR */

     aside {
         flex: 0 0 230px;
         align-items: flex-start;
         padding: 20px 20px 10px;
     }

     .logo-big {
         display: block;
         height: 40px;
     }

     .logo-small {
         display: none;
     }

     .description {
         display: block;
     }

     .download {
         width: 100%;
         border-bottom: 1px solid var(--white-50);
     }

     .playlist {
         display: block;
     }


 }


 @media (min-width: 768px) {

     .ext-controller-list {
         gap: 16px;
     }

     .col-album {
         flex-basis: 25%;
     }
 }



 @media (min-width: 992px) {

     .icons {
         display: flex;
         flex-direction: row;
         gap: 12px
     }

     .col-title,
     .col-album {
         padding: 0 8px;
     }

     .col-album {
         flex-basis: calc(100% / 6);
     }
 }